<div class="outer_div">
    <% provide(:title, "Search") %>
    <h1 class="title">Search Courses</h1>

    <div class="inner_div">
        <%= form_tag(search_path, method: :get) do %>

        name
        <%= text_field_tag :name, params[:name] %>
        <br>
        subject
        <%= select_tag :subject, options_from_collection_for_select(Subject.all, :id, :name, params[:course]), include_blank: true %>
        <br>
        <%= submit_tag ("Search"), class: "btn btn-primary" %>
        <% end %>
    </div>

    <% @courses.each do |course| %>
        <ul>
            <li><%= course.name %></li><br>
        </ul>
    <% end %>
</div>