<div class="outer_div_wide">
    <% provide(:title, "Search") %>
    <h1 class="title">Search Courses</h1>

    <div class="inner_div">
        <%= form_tag search_path, method: :get, remote: true, id: :course_search do %>
            <h4>Name</h4>
            <%= text_field_tag :name, params[:name], class: "form_input" %>
            <br>
            <h4>Subject</h4>
            <%= select_tag :subject, options_from_collection_for_select(Subject.all, :id, :name, params[:course]),
                data: { remote: true, url: search_path, method: 'get' }, include_blank: true, class: "form_input" %>
            <br>
        <% end %>
    </div>

    <div id="course_table" class="result">
        <% @courses.each do |course| %>
            <div class="flex_between">
                <%= course.name %>
                <%= link_to 'Enroll', search_path(:course_id => course.id, :user_id => current_user.id),method: :post, class: "btn btn-primary"%>
            </div>
        <% end %>
    </div>

</div>