<!DOCTYPE html>
<html>
  <head>
    <div class="container">
      <title>Course Listings</title>
    </div>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-custom" role="navigation">
    <a href="/">
      <h2 class="main_title">
        Course Catelog
      </h2>
    </a>
    <%if logged_in? %>
      <%= link_to "Log Out", logout_path, method: :delete , class: "main_title"%>
    <% end %>
    </nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="courses#index"><h4>Courses</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="instructors#index"><h4>Instructors</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="subjects#index"><h4>Subjects</h4></a>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <a class="nav-link" href="/search"><h4>Search</h4></a>
        </li>
      <% end %>
    </ul>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-info") %>
      <% end %>
      <% flash.clear %>
    </div>
    <%= yield %>
  </body>
</html>

